@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*   body {
    @apply bg-gray-50 text-gray-900 dark:bg-black dark:text-gray-100;
    @apply min-h-screen;
  }
 */
  ::selection {
    @apply bg-indigo-500 text-white;
  }
}

@layer components {
  .use-container {
    @apply mx-auto max-w-7xl px-4;
  }

  .use-container-main-layout {
    @apply mx-auto max-w-7xl px-0 lg:px-4;
  }
}

body:before {
  content: '';
  background: rgb(0 153 255/0.1);
  filter: blur(100px);
  width: 300px;
  height: 300px;
  position: absolute;
  left: -50px;
  top: 100px;
  z-index: -1;
}

/* ::-moz-selection {
  background: #e4f7ff;
}

::selection {
  background: #e4f7ff;
}
 */
html {
  background-color: #f2f5f6;
}
