@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*   body {
    @apply bg-gray-50 text-gray-900 dark:bg-black dark:text-gray-100;
    @apply min-h-screen;
  }
 */
  ::selection {
    @apply bg-indigo-500 text-white;
  }
}

@layer components {
  .use-container {
    @apply mx-auto max-w-7xl px-4;
  }
}

/* ::-moz-selection {
  background: #e4f7ff;
}

::selection {
  background: #e4f7ff;
}
 */
/* html {
  background-color: #fee9ed;
} */
